<!--<ion-view>
    <ion-content scroll="false">
     Email or Phone:
      <input ng-model="theInput"> 
      <button ng-click="magic(theInput)">
        button</button>
    </ion-content>
</ion-view>-->

<!--This is actually a poorly named page.  This should be called 'Facebook Registration Page'-->
<ion-view>
    <ion-content scroll="false">
       <section class="home-container">
        Facebook Login:
      <input ng-model="theInput"> 
      	Password:
      <input ng-model="theInput"> 
      <button ng-click="changeState(user)">
        Register</button>              
       </section>
    </ion-content>

</ion-view>