<ion-view class="backgroundGradient" title="">
    <ion-content padding="true">
        <button class="button button-dark" ng-click="facebooklogout()">
            Logout
        </button>
        <br><br>
        <div class="button-bar">
            <button class="button button-outline button-dark icon-left ion-compose padding" ui-sref="tabs.postHousing">
                Post a Housing
            </button>
            <button class="button button-outline button-dark icon-left ion-settings padding" ui-sref="tabs.manageHousing">
                Manage housing
            </button>
        </div>
    <br>
    <div class="search">
        <i class="icon ion-search fa fa-search"></i>
        <input type="text" placeholder="keyword search" ng-model="search">
    </div>
    <div>
        <h4>Price Range Search:</h4>
    </div>
    <div class="item range">
        <input type="range" name="price range" min="0" max="2000" value={{priceCap}} ng-model="priceCap">
    </div>
    <br>
    <div class="item item-divider">
        Max Price : {{priceCap}}
    </div>
    <br>

    <ion-list ui-sref="tabs.viewHousing">
        <ion-item ng-repeat="item in items | filter: search | filter: priceFilter" ng-click="itemInfo($index)">
          {{item.title}}: ${{item.price}} 
        </ion-item>
    </ion-list>

    </ion-content>
  </ion-view>

  