<ion-view title="">
    <ion-content padding="true">
        <div class="button-bar">
            <button class="button button-outline button-dark icon-left ion-compose padding" ui-sref="tabs.postTickets">
                Post
            </button>
            <button class="button button-outline button-dark icon-left ion-settings padding" ui-sref="tabs.manageTickets">
                Manage
            </button>
            <button class="button button-dark" ng-click="facebooklogout()">
                Logout
            </button>
        </div>
        <br>
        <div class="row">
            <div class="col col-100">
                <div class="search">
                    <i class="icon ion-search fa fa-search"></i>
                    <input type="text" placeholder="keyword search" ng-model="search">
                </div>
            </div>
        </div>
        
        <div class="range">
            <i class="icon ion-social-usd-outline"></i>
            <input id = "levelRange" type="range" min="0" max="200" ng-model="data.priceCap">
            <i class="icon ion-social-usd"></i>
        </div>
        <div class="item item-divider">
            <h2 ng-show="data.priceCap == 200"><b>Max Price : {{data.priceCap}}+</b></h2>
            <h2 ng-show="data.priceCap != 200"><b>Max Price : {{data.priceCap}}</b></h2>  
        </div>

        
        <div class="card" ui-sref="tabs.viewTickets" ng-hide="filtered.length == 0">
            <ion-item class="item item-text-wrap" ng-repeat="item in filtered = (items | filter: search | filter: priceFilter)" ng-click="itemInfo($index)">
              {{item.title}}: ${{item.price}} 
            </ion-item>
        </div>
        <div class="None" ng-show="filtered.length == 0">
            <h3>No Posts to Show</h3>
        </div>
    </ion-content>
  </ion-view>